body {
    background-color: #eee;
}

ul {
    margin-top: 40px;
}

.machine {
    width: 222px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 1px 2px #888;
    margin: 10px;
    border-radius: 10px;
}

.machine-manu-year {
    padding: 5px 0;
}

.machine-manufacturer {
    margin-left: 5px;
    font-style: italic;
}

.machine-year {
    font-style: italic;
}

.machine-image {
    height: 140px;
    background-size: cover;
}

.machine-description {
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8rem;
}

.machine-price {
    font-size: 1.3rem;
    text-align: center;
}

p {
    margin: 5px 0;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: solid 1px #ddd;
    padding: 5px;
}

#machines-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    padding: 10px;
    background-color: #6caad6;
    color: white;
    border: 0;
    border-radius: 20px;
    width: 130px;
    margin: 0 auto;
}

.machine-amount {
    width: 50px;
    font-size: 1.3rem;
    border: 0;
    margin: 0 auto;
}


input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

